/* PHASE 1: Header */

body {
  /* Write your css here... */
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #eee;
}

.header {
  background: red;
}

.header a {

}

.header-nav {

}
