/* PHASE 4: Footer */

.footer {
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background: #fff;
  color: #aaa;
}

.footer-copy {
  float: left;
  display: block;
  padding: 20px;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  display: block;
  padding: 20px;
}

.footer a:hover {
  color: black;
}
